.global-header_container {
  width: 100%;
}

.header-info {
  display: flex;
  width: 100%;
  background-color: rgb(238, 255, 66);
  color: rgb(37, 60, 87);
  justify-content: center;
  text-align: center;
  padding: 12px;
}

.header-info_text {
  font-size: 15px;
  text-align: center;
}

.header-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 11px 20px 11px 40px;
}

@media screen and (max-width: 768px) {
  .header-info_text {
    font-size: 13px;
  }
}
