.component_image3 {
  background-image: url(../assets/emily_sitting.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 691px;
  height: 480px;
  position: absolute;
  left: 420px;
  top: 250px;
  z-index: 10;
}

.component-item_video {
  width: 100%;
}

.video {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .component_image3 {
    position: relative;
    max-width: 768px;
    left: 0;
    top: 0;
    width: 100%;
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .component_image3 {
    height: 230px;
  }
}
